In [1]:
# Learning database creation

In [1]:
#importing the database module
import sqlite3

In [2]:
#connecting to the database

connection = sqlite3.connect('swaraj.db')

In [3]:
#cursor

crsr = connection.cursor()

In [4]:
# sql commands to create your table

In [5]:
sql_command = """ CREATE TABLE emp ( 
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE)"""

In [6]:
crsr.execute(sql_command)

OperationalError: table emp already exists

In [ ]:
sql_command = """INSERT INTO emp VALUES (1,'swaraj','reddy','M','2022-03-27')"""

In [ ]:
crsr.execute(sql_command)

In [ ]:
sql_command = """INSERT INTO emp VALUES (2,'Himanshu','Saini','M','2022-03-27')"""

In [ ]:
crsr.execute(sql_command)

In [ ]:
connection.commit()

In [7]:
connection.close()

In [36]:
from tkinter import *

root = Tk()

In [37]:
staff_number = Entry(root,width=30)
staff_number.grid(row=0,column=1,padx=20)

fname = Entry(root,width=30)
fname.grid(row=1,column=1,padx=20)

lname = Entry(root,width=30)
lname.grid(row=2,column=1,padx=20)

gender = Entry(root,width=30)
gender.grid(row=3,column=1,padx=20)


joining = Entry(root,width=30)
joining.grid(row=4,column=1,padx=20)

In [38]:
staffno_label = Label(root,text='Staff Number')
staffno_label.grid(row=0,column=0)

fname_label = Label(root,text='First Name')
fname_label.grid(row=1,column=0)

lname_label = Label(root,text='Last Name')
lname_label.grid(row=2,column=0)

gender_label = Label(root,text='gender')
gender_label.grid(row=3,column=0)

joining_label = Label(root,text='Date of Joining')
joining_label.grid(row=4,column=0)

In [39]:
Button(root,text='Submit to database',command = submit).grid(row=5,columnspan=2,pady=10,padx=20,ipadx=100)
Button(root,text='Fetch to database',command = Query).grid(row=6,columnspan=2,pady=10,padx=20,ipadx=100)

In [40]:
def submit():
    
    connection = sqlite3.connect('swaraj.db')
    
    crsr = connection.cursor()
    
    crsr.execute("INSERT INTO emp VALUES (:staff_number, :fname, :lname, :gender, :joining)", 
                {
                    'staff_number': staff_number.get(),
                    'fname':fname.get(),
                    'lname':lname.get(),
                    'gender':gender.get(),
                    'joining':joining.get()
                })
    
    connection.commit()
    connection.close()
    
    # clear text boxes
    
    staff_number.delete(0,END)
    fname.delete(0,END)
    lname.delete(0,END)
    gender.delete(0,END)
    joining.delete(0,END)

In [41]:
def Query():
    
    connection = sqlite3.connect('swaraj.db')
    
    crsr = connection.cursor()
    
    
    crsr.execute("SELECT *,oid FROM emp")
    
    
    ans = crsr.fetchall()
    
    
    records = ''
    
    for record in ans:
        records += record[1] + ' ' + record[2] + '\n'
        
    Label(root, text=records).grid(row=7,column=0,columnspan=2)

In [42]:
def delete():
    connection = sqlite3.connect('swaraj.db')
    crsr = connection.cursor()
    
    connection.execute('DELETE from emp WHERE oid =' + deli.get())
    
    deli.delete(0,END)
    
    connection.commit()

In [43]:
deli_label = Label(root,text='Enter the ID/Staff Number of the person to be deleted')
deli_label.grid(row=7,column=0)

In [44]:
deli = Entry(root,width = 30)
deli.grid(row=7, column=1,padx=20)

In [45]:
Button(root,text='Delete the enetered ID',command=delete).grid(row=8,columnspan=2,pady=10,padx=20,ipadx=100)

In [46]:
Button(root,text = 'Select the entered ID', command= update).grid(row=9,columnspan=2,pady=10,padx=20,ipadx=10)

In [47]:
def update():
    up = Tk()
    
    connection = sqlite3.connect('swaraj.db')
    crsr = connection.cursor()
    
    record_id = deli.get()
    crsr.execute('SELECT * FROM emp WHERE oid =' + record_id)
    
    records = crsr.fetchall()
    
    global staff_edit
    staff_edit = Entry(up,width=30)
    staff_edit.grid(row=0,column=1,padx=20)
    
    global fname_edit
    fname_edit = Entry(up,width=30)
    fname_edit.grid(row=1,column=1,padx=20)
    
    global lname_edit
    lname_edit = Entry(up,width=30)
    lname_edit.grid(row=2,column=1,padx=20)
    
    global gender_edit
    gender_edit = Entry(up,width=30)
    gender_edit.grid(row=3,column=1,padx=20)
    
    global joining_edit
    joining_edit = Entry(up,width=30)
    joining_edit.grid(row=4,column=1,padx=20)
    
    
    staff_label = Label(up,text='Staff Number')
    staff_label.grid(row=0,column=0)
    
    fname_label = Label(up,text='First Name')
    fname_label.grid(row=1,column=0)
    
    lname_label = Label(up,text='Last name')
    lname_label.grid(row=2,column=0)
    
    gender_label = Label(up,text='Gender')
    gender_label.grid(row=3,column=0)
    
    joining_label = Label(up,text='Joining')
    joining_label.grid(row=4,column=0)
    
    for record in records:
        staff_edit.insert(0,record[0])
        fname_edit.insert(0,record[1])
        lname_edit.insert(0,record[2])
        gender_edit.insert(0,record[3])
        joining_edit.insert(0,record[4])
        
        
        
    Button(up,text='Submit Changes', command = edit).grid(row=5,column=1,pady=10,padx=10)
    
    Button(up,text='Exit',command=up.destroy).grid(row=6,column=1,pady=10,padx=10)
    
    connection.commit()
    connection.close()

In [48]:
def edit():
    connection = sqlite3.connect('swaraj.db')
    crsr = connection.cursor()
    
    crsr.execute('''UPDATE emp SET 
    'staff_number': staff_number,
    'fname':fname,
    'lname':lname,
    'gender':gender,
    'joining':joining
    Where oid = :Aid''',
                 {
                     'staff_number':staff_edit.get(),
                     'fname':fname_edit.get(),
                     'lname':lname_edit.get(),
                     'gender':gender_edit.get(),
                     'joining':joining_edit.get(),
                     'Aid':deli.get()
                 }
                 
                )
    connection.commit()
    connection.close()

In [49]:
root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.9/tkinter/__init__.py", line 1892, in __call__
    return self.func(*args)
  File "/tmp/ipykernel_5759/2363638765.py", line 5, in edit
    crsr.execute('''UPDATE emp SET
sqlite3.OperationalError: unrecognized token: ":"