# FOR LOOP

In [7]:
# make a loop to print counting upto 20
# i iterable 
# iteration one whole loop cycle
#i =0 i =1 i =2
#indentation - space befor excutable statement
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [5]:
#while loop counterpart of this

i = 0

while i<11:
    print(i)
    i= i + 2

0
1
2
3
4
5
6
7
8
9
10

In [8]:
# traversing through our list

a= ['chocolate',1,2,3,4,'cars','oneplus',5,6]

print(a[0])
print(a[1])
print(a[2])

chocolate
1
2

In [9]:
# i means elements 
for i in a:
    print(i)

chocolate
1
2
3
4
cars
oneplus
5
6

In [10]:
len(a)

9

In [14]:
for i in range(0,9):
    print(a[i])
    # 0 - 9 
    
# a[0], a[1],a[2]

chocolate
1
2
3
4
cars
oneplus
5
6

In [15]:
# traversing through our string

b = 'hi this is swaraj this side of the screen'

for i in b:
    print(i)

h
i

t
h
i
s

i
s

s
w
a
r
a
j

t
h
i
s

s
i
d
e

o
f

t
h
e

s
c
r
e
e
n

In [16]:
for i in range(0,len(b)):
    print(b[i])

h
i

t
h
i
s

i
s

s
w
a
r
a
j

t
h
i
s

s
i
d
e

o
f

t
h
e

s
c
r
e
e
n

# OPERATORS

In [19]:
    # range operator
    # range(start,end,increment)

    for i in range(0,21,2):
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [23]:
# 2*2 = 4
#3*3 = 9
# sqaures of 30 numbers
for i in range(1,31,2):
    print(i*i)

1
9
25
49
81
121
169
225
289
361
441
529
625
729
841

In [26]:
# in operator
# in operator just gives the boolean value which means true or false
a = ['x','y','z','c','b']
print('a' in a)

False

In [31]:
# minimum aka min
# maximum aka max 

# min basically gives us the minimum value from the list

a = [123,455,901213,493482734,23012931023,75849]
b = ['a','b','c','d','z','e','f','g']
print(min(b))


# max gives us the maximum value from the list

print(max(b))

a
z

In [32]:
# modules and libraries in python

from random import shuffle

In [41]:
a = ['king','queen','jack',10,9,8,7,6]
shuffle(a)
print(a)

[7, 6, 'jack', 8, 9, 'king', 'queen', 10]

In [42]:
from random import randint

In [48]:
randint(0,100)

42