In [32]:
from tkinter import *
from PIL import ImageTk,Image
import mysql.connector
import csv
from tkinter import ttk

In [33]:
root = Tk()

In [34]:
mydb = mysql.connector.connect(
		host = "localhost",
		user = "root",
		passwd = "",
		database = "Codevidhya",
	)

In [35]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fd1c3171dc0>

In [36]:
my_cursor = mydb.cursor()

In [37]:
my_cursor.execute("CREATE TABLE IF NOT EXISTS customers (first_name VARCHAR(255), \
	last_name VARCHAR(255), \
	zipcode INT(10), \
	price_paid DECIMAL(10, 2), \
	user_id INT AUTO_INCREMENT PRIMARY KEY)")

In [38]:
my_cursor.execute("ALTER TABLE customers ADD  (\
	email VARCHAR(255),\
	address_1 VARCHAR(255),\
	address_2 VARCHAR(255),\
	city VARCHAR(50),\
	state VARCHAR(50),\
	country VARCHAR(255),\
	phone VARCHAR(255),\
	payment_method VARCHAR(50),\
	discount_code VARCHAR(255))")

ProgrammingError: 1060 (42S21): Duplicate column name 'email'

In [39]:
my_cursor.execute("SELECT * FROM customers")
print(my_cursor.description)

[('first_name', 253, None, None, None, None, 1, 0, 255), ('last_name', 253, None, None, None, None, 1, 0, 255), ('zipcode', 3, None, None, None, None, 1, 32768, 63), ('price_paid', 246, None, None, None, None, 1, 32768, 63), ('user_id', 3, None, None, None, None, 0, 49667, 63), ('email', 253, None, None, None, None, 1, 0, 255), ('address_1', 253, None, None, None, None, 1, 0, 255), ('address_2', 253, None, None, None, None, 1, 0, 255), ('city', 253, None, None, None, None, 1, 0, 255), ('state', 253, None, None, None, None, 1, 0, 255), ('country', 253, None, None, None, None, 1, 0, 255), ('phone', 253, None, None, None, None, 1, 0, 255), ('payment_method', 253, None, None, None, None, 1, 0, 255), ('discount_code', 253, None, None, None, None, 1, 0, 255)]

In [40]:
title_label = Label(root,text='XOXO Customer Databse')
title_label.grid(row=0,column=0,columnspan=2,pady=10)

In [41]:
first_name_label = Label(root,text='First Name').grid(row=1,column=0,sticky=W,padx=10)
last_name_label = Label(root,text='Last Name').grid(row=2,column=0,sticky=W,padx=10)
address1_label = Label(root,text='Address 1').grid(row=3,column=0,sticky=W,padx=10)
address2_label = Label(root,text='Address 2').grid(row=4,column=0,sticky=W,padx=10)
city_label = Label(root,text='City').grid(row=5,column=0,sticky=W,padx=10)
state_label = Label(root,text='State').grid(row=6,column=0,sticky=W,padx=10)
zipcode_label = Label(root,text='Zipcode').grid(row=7,column=0,sticky=W,padx=10)
country_label = Label(root,text='Country').grid(row=8,column=0,sticky=W,padx=10)
phone_label = Label(root,text='Phone Number').grid(row=9,column=0,sticky=W,padx=10)
email_label = Label(root,text='Email').grid(row=10,column=0,sticky=W,padx=10)
payment_method_label = Label(root,text='Payment Method').grid(row=11,column=0,sticky=W,padx=10)
discount_code_label = Label(root,text='Discount Code').grid(row=12,column=0,sticky=W,padx=10)
price_paid_label = Label(root,text='Price Paid').grid(row=13,column=0,sticky=W,padx=10)

In [42]:
first_name_box = Entry(root)
first_name_box.grid(row=1,column=1)

last_name_box = Entry(root)
last_name_box.grid(row=2,column=1)

address1_box = Entry(root)
address1_box.grid(row=3,column=1)

address2_box = Entry(root)
address2_box.grid(row=4,column=1)

city_box = Entry(root)
city_box.grid(row=5,column=1)

state_box = Entry(root)
state_box.grid(row=6,column=1)

zipcode_box = Entry(root)
zipcode_box.grid(row=7,column=1)

country_box = Entry(root)
country_box.grid(row=8,column=1)

phone_box = Entry(root)
phone_box.grid(row=9,column=1)

email_box = Entry(root)
email_box.grid(row=10,column=1)

payment_method_box = Entry(root)
payment_method_box.grid(row=11,column=1)

discount_code_box = Entry(root)
discount_code_box.grid(row=12,column=1)

price_paid_box = Entry(root)
price_paid_box.grid(row=13,column=1)

In [43]:
def clear_fields():
	first_name_box.delete(0, END)
	last_name_box.delete(0, END)
	address1_box.delete(0, END)
	address2_box.delete(0, END)
	city_box.delete(0, END)
	state_box.delete(0, END)
	zipcode_box.delete(0, END)
	country_box.delete(0, END)
	phone_box.delete(0, END)
	email_box.delete(0, END)
	payment_method_box.delete(0, END)
	discount_code_box.delete(0, END)
	price_paid_box.delete(0, END)

In [44]:
def add_customer():
	sql_command = "INSERT INTO customers (first_name, last_name, zipcode, price_paid, email, address_1, address_2, city, state, country, phone, payment_method, discount_code) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
	# %s is just a wild card entry we can susbtiute any value. We give a tuple of all the required values
	# Values
	values = (first_name_box.get(), last_name_box.get(), zipcode_box.get(), price_paid_box.get(), email_box.get(), address1_box.get(), address2_box.get(), city_box.get(), state_box.get(), country_box.get(), phone_box.get(), payment_method_box.get(), discount_code_box.get())
	# Syntax if we use placeholders
	my_cursor.execute(sql_command, values)

	# Commit the changes to the database
	mydb.commit()
	# Clear the fields
	clear_fields()

In [45]:
add_customer_button = Button(root,text='Add customer to database', command=add_customer)
add_customer_button.grid(row=14,column=0,padx=10,pady=10)


clear_fields_button = Button(root,text='Clear Field', command=clear_fields)
clear_fields_button.grid(row=14,column=1)

In [46]:
root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.9/tkinter/__init__.py", line 1892, in __call__
    return self.func(*args)
  File "/tmp/ipykernel_11234/2172443183.py", line 7, in add_customer
    my_cursor.execute(sql_command, values)
  File "/home/himanshu/.local/lib/python3.9/site-packages/mysql/connector/cursor_cext.py", line 243, in execute
    self._cnx.handle_unread_result()
  File "/home/himanshu/.local/lib/python3.9/site-packages/mysql/connector/connection_cext.py", line 794, in handle_unread_result
    raise errors.InternalError("Unread result found")
mysql.connector.errors.InternalError: Unread result found
Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.9/tkinter/__init__.py", line 1892, in __call__
    return self.func(*args)
  File "/tmp/ipykernel_11234/2172443183.py", line 7, in add_customer
    my_cursor.execute(sql_command, values)
  File "/home/himanshu/.local/lib/python3.9/site-packages/mysql/connector/cursor_cext.py", line 243, in execute
    self._cnx.handle_unread_result()
  File "/home/himanshu/.local/lib/python3.9/site-packages/mysql/connector/connection_cext.py", line 794, in handle_unread_result
    raise errors.InternalError("Unread result found")
mysql.connector.errors.InternalError: Unread result found