In [1]:
# Learning database creation

In [2]:
#importing the database module
import sqlite3

In [6]:
#connecting to the database

connection = sqlite3.connect('swaraj.db')

In [7]:
#cursor

crsr = connection.cursor()

In [4]:
# sql commands to create your table

In [8]:
sql_command = """ CREATE TABLE emp ( 
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE)"""

In [9]:
crsr.execute(sql_command)

In [10]:
sql_command = """INSERT INTO emp VALUES (1,'swaraj','reddy','M','2022-03-27')"""

In [11]:
crsr.execute(sql_command)

In [12]:
sql_command = """INSERT INTO emp VALUES (2,'Himanshu','Saini','M','2022-03-27')"""

In [13]:
crsr.execute(sql_command)

In [14]:
connection.commit()

In [15]:
connection.close()

In [38]:
from tkinter import *

root = Tk()

In [39]:
staff_number = Entry(root,width=30)
staff_number.grid(row=0,column=1,padx=20)

fname = Entry(root,width=30)
fname.grid(row=1,column=1,padx=20)

lname = Entry(root,width=30)
lname.grid(row=2,column=1,padx=20)

gender = Entry(root,width=30)
gender.grid(row=3,column=1,padx=20)


joining = Entry(root,width=30)
joining.grid(row=4,column=1,padx=20)

In [40]:
staffno_label = Label(root,text='Staff Number')
staffno_label.grid(row=0,column=0)

fname_label = Label(root,text='First Name')
fname_label.grid(row=1,column=0)

lname_label = Label(root,text='Last Name')
lname_label.grid(row=2,column=0)

gender_label = Label(root,text='gender')
gender_label.grid(row=3,column=0)

joining_label = Label(root,text='Date of Joining')
joining_label.grid(row=4,column=0)

In [41]:
Button(root,text='Submit to database',command = submit).grid(row=5,columnspan=2,pady=10,padx=20,ipadx=100)
Button(root,text='Fetch to database',command = Query).grid(row=6,columnspan=2,pady=10,padx=20,ipadx=100)
root.mainloop()

In [42]:
def submit():
    
    connection = sqlite3.connect('swaraj.db')
    
    crsr = connection.cursor()
    
    crsr.execute("INSERT INTO emp VALUES (:staff_number, :fname, :lname, :gender, :joining)", 
                {
                    'staff_number': staff_number.get(),
                    'fname':fname.get(),
                    'lname':lname.get(),
                    'gender':gender.get(),
                    'joining':joining.get()
                })
    
    connection.commit()
    connection.close()
    
    # clear text boxes
    
    staff_number.delete(0,END)
    fname.delete(0,END)
    lname.delete(0,END)
    gender.delete(0,END)
    joining.delete(0,END)

In [24]:
def Query():
    
    connection = sqlite3.connect('swaraj.db')
    
    crsr = connection.cursor()
    
    
    crsr.execute("SELECT *,oid FROM emp")
    
    
    ans = crsr.fetchall()
    
    
    records = ''
    
    for record in ans:
        records += record[1] + ' ' + record[2] + '\n'
        
    Label(root, text=records).grid(row=7,column=0,columnspan=2)